@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color:  #121212;  
  --text-color:#ffffff;           
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Dark mode styles */
body.light-mode {
  --background-color: #dedbdbf4; 
  --text-color: #121111;  
}
